html,
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  color: #333;
  background-color: #fff;
  &.fixed {
    overflow: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint(sm) {
    width: 750px;
  }
  @include breakpoint(md) {
    width: 970px;
  }
  @include breakpoint(lg) {
    width: 1250px;
  }
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}