.btn-tkpd {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 16px;
    outline: none;

    /* ========= */
    /* Modifiers */
    /* ========= */
    
    // Size
    &--small {
        font-size: 0.785714rem;
        line-height: 16px;
        height: 32px;
    }
    &--medium {
        font-size: 0.928571rem;
        line-height: 24px;
        height: 40px;
    }
    &--large {
        font-size: 1rem;
        line-height: 32px;
        height: 48px;
    }

    // Main Colors
    &--green {
        // background: #42B549;
        background: linear-gradient(to bottom, #42b549, #87d58b);
        color: #FAFAFA;
        transition: background 0.3s linear;
        position: relative;
        &:before {
            content: "";
                position: absolute;
                transition: opacity 0.3s linear;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,0.3) 100%);
                top: 0;
                left: 0;
                opacity: 0;
        }
        &:hover {
            &:before {
                transition: opacity 0.3s linear;
                opacity: 1;
            }
        }
    }
    &--orange {
        // background: #FF5722;
        background: linear-gradient(to top, #ff9047, #ff5722);
        color: #FAFAFA;
        transition: background 0.3s linear;
        &:before {
            content: "";
            position: absolute;
            transition: opacity 0.3s linear;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,0.3) 100%);
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    // Secondary Colors
    &--sgreen {
        background: transparent;
        border: solid 1px #42b549;
        color: #42B549;
        transition: background 0.3s ease;
        &:hover {
            background: #EDFEEE;
        }
    }
    &--sgrey, &--sgray {
        background: transparent;
        border: 1px solid rgba(0,0,0,.12);
        color: rgba(0, 0, 0, 0.54);
        transition: background 0.3s ease;
        &:hover {
            background: #e6e6e6;
            color: #606060;
        }
    }

    // Low Colors
    &--lgreen {
        background: transparent;
        color: #42B549;
        &:hover {
            transition: background 0.3s linear;
            background: #EDFEEE;
        }
    }

    // Disabled
    &:disabled {
        color: rgba(0, 0, 0, 0.38);
        background-color: #e0e0e0;
        border: solid 1px #e0e0e0;
        cursor: not-allowed;
    }

    // Width
    &--w200 {
        width: 202px;
    }

    &__text {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 0.3s linear, top 0.3s linear;
        vertical-align: middle;
    }
    &__icon {
        max-width: 24px;
        max-height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
}


// Page Style
/* ======= */
/* Buttons */
/* ======= */

.unify-btn {
    margin-bottom: 100px;
    &__buttons {
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 64px;
      margin-top: 64px;
      margin-left: 12px;
      position: relative;
      &:before {
        content: "";
        height: 25px;
        width: 5px;
        background-color: #FF5722;
        border-radius: 6px;
        position: absolute;
        transform: translateY(-50%);
        left: -12px;
        top: 50%;
      }
    }
    &__subtitle {
      font-weight: 600;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 16px;
      &--small {
        font-size: 20px;
        margin-bottom: 16px;
        display: block;
      }
    }
    &__copy {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      line-height: 1.71;
      margin-bottom: 16px;
      display: block;
    }
    &__divider {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #d5d5d5;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &__video {
      width: 100%;
      border: 1px solid #D5D5D5;
      display: block;
      margin-bottom: 32px;
    }
  }
  
  .main-options-colors {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-right: 24px;
    display: inline-block;
    & > * {
      display: inline-block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.54);
      cursor: pointer;
      border: 2px solid #FFF;
    }
  }
  .main-options-size {
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
    padding-left: 24px;
    border-left: 2px solid rgba(0, 0, 0, 0.18);
    & > * {
      display: inline-block;
      border-radius: 50%;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.54);
      cursor: pointer;
      border: 2px solid rgba(0, 0, 0, 0.25);
    }
  }
  
  #main {
    &-green {
      background-color: #42B549;
    }
    &-orange {
      background-color: #FF5722;
    }
    &-small {
      width: 30px;
      height: 30px;
    }
    &-medium {
      width: 36px;
      height: 36px;
    }
    &-large {
      width: 42px;
      height: 42px;
    }
  }
  
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  .center-block {
    margin-left: auto;
    margin-right: auto;
  }
  
  .col-3 {
    width: 33.33%;
    float: left;
  }
  
  .col-5 {
    width: 50%;
    float: left;
  }
  
  .card {
    display: block;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px 1px;
    margin: 16px;
    border-radius: 4px;
    overflow: hidden;
    line-height: 1.5;
    &-img {
      width: 100%;
    }
    &-body {
      padding: 24px;
    }
    &-title {
      margin-bottom: 10px;
      font-size: (16rem/14);
      color: rgba(0, 0, 0, 0.7);
    }
    &-text {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 10px;
    }
    &--button {
      text-align: center;
      background-color: #fafafa;
      border: solid 1px #d5d5d5;
      border-radius: 0px;
      box-shadow: none;
      padding: 24px;
      & h2 {
        font-size: 17px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        display: block;
        margin-bottom: 14px;
      }
    }
  }
  
  .btn {
    display: block;
    border-radius: 3px;
    line-height: 48px;
    width: 100%;
    background: #42B549;
    color: #FFF;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .mb32 {
    margin-bottom: 32px;
  }